.banner {
    background-color: #4f712f;
    color: rgba(255, 255, 255, 0.925);
    padding: 1em;
    text-shadow: #000 1px 1px 1px;
    min-height:180px;
    background-size: cover;
    h2 {
        margin: 0;
    }
}

.banner-content {
    padding-right: 48px;
}

h3 {
    font-weight: bold;
}

.label {
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.details {
    color: #707d61;
    margin-left: 1em;
    font-size: 12px;
}

.details-minor {
    color: #707d61;
    font-size: 12px;
}

p {
    display: block;
    padding: 4px;
}

ion-card-header {
    font-weight: bold;
    padding-bottom: 0;
}

ion-card-content {
    padding-top: 4px;
}