<ion-navbar *navbar light>
    <ion-title>
        Details
    </ion-title>
</ion-navbar>


<ion-content class="poi-details">

    <div class="poi-heading">
        <div style="max-height:32px;position:absolute;overflow:hidden;">
            <img style="width:100%;" src="https://ocm.blob.core.windows.net/images/PL/OCM52224/OCM-52224.medi.2015092721105431.jpg">
        
        </div>
        <div class="poi-heading-info">


            <h2>{{poi.AddressInfo.Title}} <small>OCM-{{poi.ID}}</small></h2>

              <button small>
                <icon chatbubbles></icon> Check-In
            </button>

            <button small>
                <icon camera></icon> Add Photos
            </button>
            <button small>
                <icon create></icon> Edit
            </button>
            
            <button small>
                <icon star></icon> Favourite
            </button>
        </div>
    </div>


    <div padding>
        <div class="row">
            <div class="left-col">
                <div *ngIf="poi.AddressInfo.AddressLine1"> {{poi.AddressInfo.AddresssLine1}}</div>
                <div *ngIf="poi.AddressInfo.AddressLine2"> {{poi.AddressInfo.AddresssLine2}}</div>
                <div *ngIf="poi.AddressInfo.Town"> {{poi.AddressInfo.Town}}</div>
                <div *ngIf="poi.AddressInfo.StateOrProvince"> {{poi.AddressInfo.StateOrProvince}}</div>
                <div *ngIf="poi.AddressInfo.Postcode"> {{poi.AddressInfo.Postcode}}</div>
                <div *ngIf="poi.AddressInfo.Country"> {{poi.AddressInfo.Country.Title}}</div>
                
                <img src="https://maps.googleapis.com/maps/api/staticmap?center=51.577389578844446,-0.22380352020263672&amp;zoom=14&amp;size=240x100&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:S%7C11211%7C11206%7C11222"/>
            </div>
          <div class="right-col">


                <div *ngIf="poi.AddressInfo.ContactTelephone1">
                    <icon call></icon> {{poi.AddressInfo.ContactTelephone1}} </div>
                <div *ngIf="poi.AddressInfo.ContactTelephone2">
                    <icon call></icon> {{poi.AddressInfo.ContactTelephone2}} </div>
                <div *ngIf="poi.AddressInfo.ContactEmail">
                    <icon mail></icon> {{poi.AddressInfo.ContactEmail}} </div>
                <div *ngIf="poi.AddressInfo.AccessComments">
                    <icon key></icon> {{poi.AddressInfo.AccessComments}} </div>
                <div *ngIf="poi.AddressInfo.RelatedURL">
                    <icon globe></icon> <a target="_system" href="{{poi.AddressInfo.RelatedURL}}">{{poi.AddressInfo.RelatedURL}}</a>                    </div>

            </div>
        </div>
        
        <div class="row">
            <div class="left-col">
        <h3><icon battery-charging></icon> Equipment</h3>

        <ion-list>

            <ion-item *ngFor="#item of poi.Connections">
                <ion-avatar item-left>
                    <icon flash></icon>
                </ion-avatar>
                <h3>{{item.ConnectionType?.Title}}</h3>
                <p>{{item.PowerKW}} kW</p>

                <p>
                    <span *ngIf="item.Amps" class="details-minor">{{item.Amps}}A</span>
                    <span *ngIf="item.Voltage" class="details-minor">{{item.Voltage}}V</span>
                    <span *ngIf="item.CurrentType" class="details-minor">{{item.CurrentType?.Title}}</span>
                   
                </p>

            </ion-item>

        </ion-list>
        </div>
        <div class="right-col">
                  <h2><icon camera></icon> Photos</h2>


        <ion-slides pager loop="true" autoplay="true">

            <ion-slide *ngFor="#item of poi.MediaItems">
                <h3>{{item.User.Username}}</h3>

                <img src="{{item.ItemThumbnailURL}}" />
                <p>{{item.Comment}}</p>
            </ion-slide>



        </ion-slides>
            </div>
        </div>
        <h3><icon contacts></icon> Check-Ins</h3>
        <ion-list>

            <ion-item *ngFor="#item of poi.UserComments">
                <ion-avatar item-left>
                    <icon contact></icon>
                    <div *ngIf="item.User">{{item.User.Username}}</div>
                    <div *ngIf="!item.User">{{item.Username}}</div>
                </ion-avatar>


                <p>{{item.Comment}}</p>
                <p *ngIf="item.CommentType">
                    {{item.CommentType?.Title}}

                </p>
                <p *ngIf="item.Rating">{{item.Rating}} out of 5</p>
                <p *ngIf="item.CheckinStatusType">

                    {{item.CheckinStatusType.Title}}</p>
            </ion-item>

        </ion-list>

   

        <h3>Additional Information</h3>


        <p>
            Data Provided by: {{poi.DataProvider?.Title}}</p>

        <p>
            {{poi.DataProvider.WebsiteURL}}
        </p>
        <p>{{poi.DataProvider.License}}</p>


    </div>