<ion-navbar *navbar dark>
    <ion-title>
        {{ 'ocm.details.sectionTitle' | translate }}
    </ion-title>
</ion-navbar>


<ion-content class="poi-details" padding>

    <div class="poi-heading">
        <div style="max-height:32px;position:absolute;overflow:hidden;"></div>
        <div class="poi-heading-info">
            <h2>{{poi.AddressInfo.Title}} <small>OCM-{{poi.ID}}</small></h2>

            <button small (click)="addComment()">
                <ion-icon name="chatbubbles"></ion-icon> Check-In
            </button>

            <button small (click)="addMedia()">
                <ion-icon name="camera"></ion-icon> Add Photos
            </button>
            <button small (click)="edit()">
                <ion-icon name="create"></ion-icon> Edit
            </button>

            <button small (click)="toggleFavourite()">
                <ion-icon name="star"></ion-icon> Favourite
            </button>
        </div>
    </div>


    <div padding>
        <div class="row">
            <div class="left-col">
                <h3><ion-icon name="map"></ion-icon> {{ 'ocm.details.location.address' | translate }}</h3>
                <div padding>
                    <div *ngIf="poi.AddressInfo.AddressLine1"> {{poi.AddressInfo.AddresssLine1}}</div>
                    <div *ngIf="poi.AddressInfo.AddressLine2"> {{poi.AddressInfo.AddresssLine2}}</div>
                    <div *ngIf="poi.AddressInfo.Town"> {{poi.AddressInfo.Town}}</div>
                    <div *ngIf="poi.AddressInfo.StateOrProvince"> {{poi.AddressInfo.StateOrProvince}}</div>
                    <div *ngIf="poi.AddressInfo.Postcode"> {{poi.AddressInfo.Postcode}}</div>
                    <div *ngIf="poi.AddressInfo.Country"> {{poi.AddressInfo.Country.Title}}</div>

                    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{poi.AddressInfo.Latitude}},{{poi.AddressInfo.Longitude}}&amp;zoom=14&amp;size=240x100&amp;maptype=roadmap&amp;markers=color:blue"
                    />

                    <div class='subtle'>
                        {{ 'ocm.details.location.latitude' | translate }}: {{poi.AddressInfo.Latitude | number:'1.1-8'}}
                        <br/> {{ 'ocm.details.location.longitude' | translate }}: {{poi.AddressInfo.Longitude | number:'1.1-8'}}
                    </div>

                    <div *ngIf="poi.AddressInfo.AccessComments"> 
                        <!--<h4>{{ 'ocm.details.accessComments' | translate }}</h4>-->
                    <p> {{poi.AddressInfo.AccessComments}}</p></div>
                </div>
            </div>
            <div class="right-col">


                <div *ngIf="poi.AddressInfo.ContactTelephone1">
                    <ion-icon name="call"></ion-icon> {{poi.AddressInfo.ContactTelephone1}} </div>
                <div *ngIf="poi.AddressInfo.ContactTelephone2">
                    <icon call></icon> {{poi.AddressInfo.ContactTelephone2}} </div>
                <div *ngIf="poi.AddressInfo.ContactEmail">
                    <icon mail></icon> {{poi.AddressInfo.ContactEmail}} </div>
               
                <div *ngIf="poi.AddressInfo.RelatedURL">
                    <icon globe></icon> <a target="_system" href="{{poi.AddressInfo.RelatedURL}}">{{poi.AddressInfo.RelatedURL}}</a>                    </div>


                <div *ngIf="poi.StatusType"> {{ 'ocm.details.operationalStatus' | translate }}: {{poi.StatusType.Title}}</div>
                <div *ngIf="poi.UsageType"> {{ 'ocm.details.usageType' | translate }}: {{poi.UsageType.Title}}</div>
                <div *ngIf="poi.UsageCost"> {{ 'ocm.details.usageCost' | translate }}: {{poi.UsageCost}}</div>
                <div *ngIf="poi.NumberOfPoints"> {{ 'ocm.details.numberOfPoints' | translate }}: {{poi.NumberOfPoints}}</div>


                <div *ngIf="poi.OperatorInfo"> {{ 'ocm.details.operator.sectionTitle' | translate }}: {{poi.OperatorInfo.Title}}</div>

            </div>
        </div>

        <div class="row">
            <div class="left-col" padding>
                <h3><ion-icon name="battery-charging"></ion-icon>   {{ 'ocm.details.equipment.sectionTitle' | translate }}</h3>

                <ion-list>
                    <ion-item *ngFor="#item of poi.Connections">
                        <ion-avatar item-left>
                            <ion-icon name="flash"></ion-icon>
                        </ion-avatar>
                        <h3>{{item.ConnectionType?.Title}} <span class="details-minor" *ngIf="item.Quantity">x{{item.Quantity}}</span></h3>
                        <p *ngIf="item.PowerKW">{{item.PowerKW}} kW</p>

                        <p>
                            <span *ngIf="item.Amps" class="details-minor">{{item.Amps}}A</span>
                            <span *ngIf="item.Voltage" class="details-minor">{{item.Voltage}}V</span>
                            <span *ngIf="item.CurrentType" class="details-minor">{{item.CurrentType?.Title}}</span>

                        </p>

                    </ion-item>

                </ion-list>
            </div>
            <div class="right-col" padding>
                <h2><ion-icon name="camera"></ion-icon>   {{ 'ocm.details.mediaItems.sectionTitle' | translate }}</h2>
                <div *ngIf="poi._hasPhotos">

                    <ion-slides pager loop="true" autoplay="true">

                        <ion-slide *ngFor="#item of poi.MediaItems">
                            <h3>{{item.User.Username}}</h3>

                            <img src="{{item.ItemThumbnailURL}}" />
                            <p>{{item.Comment}}</p>
                        </ion-slide>



                    </ion-slides>
                </div>
                <div *ngIf="!poi._hasPhotos">
                    <p class='subtle'> {{ 'ocm.details.mediaItems.addPrompt' | translate }}</p>
                </div>
            </div>
        </div>

        <div padding>
            <h3><ion-icon name="contacts"></ion-icon>   {{ 'ocm.details.commentsAndRatings.sectionTitle' | translate }}</h3>
            <ion-list>

                <ion-item *ngFor="#item of poi.UserComments">
                    <ion-avatar item-left>
                        <ion-icon name="contact"></ion-icon>
                        <div *ngIf="item.User">{{item.User.Username}}</div>
                        <div *ngIf="!item.User">{{item.Username}}</div>
                    </ion-avatar>


                    <p>{{item.Comment}}</p>
                    <p *ngIf="item.CommentType">
                        {{item.CommentType?.Title}}

                    </p>
                    <p *ngIf="item.Rating">{{item.Rating}} out of 5</p>
                    <p *ngIf="item.CheckinStatusType">

                        {{item.CheckinStatusType.Title}}</p>
                </ion-item>

            </ion-list>



            <h3>  {{ 'ocm.details.advancedDetails' | translate }}</h3>


            <p>
                {{ 'ocm.details.dataProvider.sectionTitle' | translate }}: {{poi.DataProvider?.Title}}</p>

            <p>
                {{poi.DataProvider.WebsiteURL}}
            </p>
            <p>{{poi.DataProvider.License}}</p>
        </div>

    </div>