.poi-details {

    
    .left-col{
        float:left;
        width:50%;
        overflow: auto;
    }
    .right-col{
    float:right;
        width:50%;
        overflow: auto;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    overflow: auto;
    
    }
    .row {
    
        margin-bottom:1em;
        
    }

    .subtle {
        color: #c0c0c0;
    }

    @media screen and (max-width: 768px) {
        .left-col{
        
        float:none;
    width:100%;
        }
        .right-col{
            margin-top:1em;
        float:none;
            width:100%;
            
        }
    }
     .address-details ion-card img {
         max-height: 200px;
         width: auto;
     }

     ion-label {
         overflow: inherit;
        /*  white-space: pre-line;*/
     }
     ion-item {
         p{
             
         }
     }
}