// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

//@import "../pages/page1/page1";
//@import "../pages/page2/page2";
//@import "../pages/page3/page3";
@import "../pages/search/search";
@import "../pages/poi-details/poi-details";
@import "../pages/mediaupload/mediaupload";

.tab-button{
    max-width: none;
}
.poi-summary{
    border:1px solid gainsboro;
    padding:1em;
    background-color: gainsboro;
}

.banner{
        background-color: #545454;
        padding:1em;
        color:white;
        h2 small {
        font-size:0.6em;
        color:#c0c0c0; 
        }
        p{
            color:#c0c0c0; 
        }
    }

ion-card p{
    margin-bottom:0.3em;
}