<ion-navbar *navbar primary>
  <ion-title>
    Settings
  </ion-title>
</ion-navbar>
<ion-content class="settings-page" padding>
  <h2>Search Filters</h2>
  <p>Search filters to apply when search for charging locations:</p>
  <p *ngIf="searchSettings.CheckForActiveFilters()" danger>
    <ion-icon name="alert"></ion-icon> One or more filters are currently being applied.</p>
  <ion-list>
    <ion-item>
      <ion-label>Operators</ion-label>
      <ion-select [(ngModel)]="searchSettings.OperatorList" multiple="true" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let item of operators" [value]="item.ID">{{item.Title}}</ion-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Usage Types</ion-label>
      <ion-select [(ngModel)]="searchSettings.UsageTypeList" multiple="true" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let item of usageTypes" [value]="item.ID">{{item.Title}}</ion-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Status Types</ion-label>
      <ion-select [(ngModel)]="searchSettings.StatusTypeList" multiple="true" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let item of statusTypes" [value]="item.ID">{{item.Title}}</ion-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Connector Types</ion-label>
      <ion-select [(ngModel)]="searchSettings.ConnectionTypeList" multiple="true" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let item of connectionTypes" [value]="item.ID">{{item.Title}}</ion-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Min. Power (kW)</ion-label>
      <ion-input type="number" [(ngModel)]="searchSettings.MinPowerKW"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Max. Power (kW)</ion-label>
      <ion-input type="number" [(ngModel)]="searchSettings.MaxPowerKW"></ion-input>
    </ion-item>
  </ion-list>
  <h2>
    General Settings
    </h2>
  <ion-item>
    <ion-label>Show Distance in Kilometers</ion-label>
    <ion-toggle [(ngModel)]="searchSettings.UseDistanceInKM"></ion-toggle>
  </ion-item>


</ion-content>