<ion-header>
    <ion-toolbar>
        <ion-title>
            {{'ocm.navigation.profile.sectionTitle' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="profile-page ion-padding">

    <div *ngIf="userProfile==null">
        You are not signed in. <button ion-button (click)="showSignInModal()">{{'ocm.general.signIn' | translate}}</button>
    </div>
    <div *ngIf="userProfile!=null">

        <ion-card>

            <ion-item>
                <ion-avatar slot="start">
                    <img src="{{userProfile.ProfileImageURL}}">
                </ion-avatar>
                <h2>{{userProfile.Username}}</h2>

            </ion-item>

            <ion-card-content>
                <p>
                    {{userProfile.Profile}}</p>
                <p> Date Joined:
                    {{userProfile.DateCreated}}
                </p>
            </ion-card-content>

            <ion-item>
                <ion-note item-left>
                    <ion-icon name="star"></ion-icon>
                    {{userProfile.ReputationPoints}} Contributor Points
                </ion-note>

            </ion-item>

        </ion-card>

    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon name="close" slot="start"></ion-icon>
                Close

            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-footer>