<ion-navbar *navbar default>
  <ion-title>
    Add Comment
  </ion-title>
</ion-navbar>
<ion-content class="comment-page" padding>

<div class="banner">
  <h1>{{poi.AddressInfo.Title}}</h1>
  <p>{{poi.AddressInfo.AddressLine1}}</p>
  </div>
  <p padding>Recent Check-ins are a big help to other drivers when planning their journey. Tell everyone what you thought about this charging location. </p>
  
  <ion-list>

    <ion-item>
      <ion-label stacked>Comment Type</ion-label>
      <ion-select [(ngModel)]="commentModel.UserCommentTypeID">
        <ion-option *ngFor="let item of commentTypes" [value]="item.ID" [checked]="false">{{item.Title}}</ion-option>
      </ion-select>

    </ion-item>

    <ion-item>
      <ion-label stacked>What Did You Think?</ion-label>
      <ion-input type="text" [(ngModel)]="commentModel.Comment"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label stacked>Did You Successfully Charge?</ion-label>
      <ion-select [(ngModel)]="commentModel.CheckStatusTypeID">
        <ion-option *ngFor="let item of checkinTypes" [value]="item.ID" [checked]="false">{{item.Title}}</ion-option>
      </ion-select>

    </ion-item>


    <ion-item>
      <ion-label stacked>Your Rating</ion-label>


      <ion-select [(ngModel)]="commentModel.Rating">
        <ion-option value="5">5 - Excellent</ion-option>
        <ion-option value="4">4 - Good</ion-option>
        <ion-option value="3">3 - Average</ion-option>
        <ion-option value="2">2 - Not Good</ion-option>
        <ion-option value="1">1 - Bad</ion-option>
        <ion-option value="" [checked]="true">Not Rated</ion-option>
      </ion-select>
    </ion-item>


  </ion-list>


</ion-content>
<ion-toolbar position="bottom">
  <ion-buttons start>
    <button (click)="cancel()">
            <ion-icon name="close"></ion-icon>
      Cancel

    </button>
  </ion-buttons>
  <ion-buttons end>
    <button (click)="add()">
      Submit
      <ion-icon name="send" ></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>