<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button aria-label="Open main menu"></ion-menu-button>
    </ion-buttons>
    <ion-searchbar autocapitalize="on" autocomplete="on" [(ngModel)]="searchKeyword" (ionInput)="search($event)"
    [placeholder]="'ocm.search.performSearch' | translate" [debounce]="500"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="locateUser()" [disabled]="isLocatingUser" aria-label="Locate me">
        @if (!isLocatingUser) {
          <ion-icon name="locate" slot="start"></ion-icon>
        }
        @if (isLocatingUser) {
          <ion-spinner></ion-spinner>
        }
      </ion-button>
      <!--<ion-button (click)="openRoutePlannerModal()" *ngIf="sideViewAvailable==false">
      <ion-icon name="map" slot="start"></ion-icon>
    </ion-button>-->
    <ion-button (click)="openSearchOptions()" [color]="appManager.searchSettings.HasActiveFilters?'danger':'default'" aria-label="Open settings">
      <ion-icon name="options" slot="end"></ion-icon>

    </ion-button>

    @if (sideViewAvailable==true && poiViewMode=='modal') {
      <ion-button (click)="openSideView()" aria-label="Open route side view">
        <ion-icon name="car" title="Route" slot="end"></ion-icon>
      </ion-button>
    }
  </ion-buttons>
</ion-toolbar>

</ion-header>

<ion-content class="search-page">

  <place-search #placeSearchMapPOI (placeChanged)="placeSelected($event)"></place-search>

  @if (appManager.isOffline) {
    <div style="position: absolute;">
      <p>There was a problem communicating with Open Charge Map. Please check your data connection.</p>
    </div>
  }

  <div id="map-canvas" style="height:100%;width:100%;min-height:300px;"></div>

</ion-content>