<ion-header>
  <ion-navbar default>
    <ion-title>
      {{'ocm.general.settings' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="settings-page" padding>
  <h2>Search Filters</h2>
  <p>Search filters to apply when search for charging locations:</p>
  <p *ngIf="searchSettings.CheckForActiveFilters()" danger>
    <ion-icon name="alert"></ion-icon> One or more filters are currently being applied.</p>
  <ion-list>
    <ion-item>
      <ion-label>{{'ocm.search.networkOperators' | translate}}</ion-label>
      <ion-select [(ngModel)]="searchSettings.OperatorList" multiple="true" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let item of operators" [value]="item.ID">{{'ocm.reference.operatorInfo.value_'+item.ID | translate }}</ion-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{'ocm.search.usageTypes' | translate}}</ion-label>
      <ion-select [(ngModel)]="searchSettings.UsageTypeList" multiple="true" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let item of usageTypes" [value]="item.ID">{{'ocm.reference.usageType.value_'+item.ID | translate}}</ion-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{'ocm.search.operationalStatusTypes' | translate}}</ion-label>
      <ion-select [(ngModel)]="searchSettings.StatusTypeList" multiple="true" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let item of statusTypes" [value]="item.ID">{{'ocm.reference.statusType.value_'+item.ID | translate }}</ion-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{'ocm.search.connectionTypes'| translate }}</ion-label>
      <ion-select [(ngModel)]="searchSettings.ConnectionTypeList" multiple="true" cancelText="Cancel" okText="OK">
        <ion-option *ngFor="let item of connectionTypes" [value]="item.ID">{{'ocm.reference.connectionType.value_'+item.ID | translate }}</ion-option>

      </ion-select>
    </ion-item>
   
    <ion-item>
      <ion-label>Min/Max. Power (kW)</ion-label>
      <ion-range dualKnobs="true" min="1" max="500" pin="true" [(ngModel)]="powerRange" dark>
        <ion-icon range-left small name="flash"></ion-icon>
        <ion-icon range-right name="flash"></ion-icon>
      </ion-range>
      </ion-item>
  </ion-list>
  <h2>
    General Settings
  </h2>
  <ion-item>
    <ion-label>Show Distance in Kilometers</ion-label>
    <ion-toggle [(ngModel)]="searchSettings.UseDistanceInKM"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Language</ion-label>
    <ion-select [(ngModel)]="searchSettings.Language" (ionChange)="onLanguageChange()" multiple="false">
      <ion-option *ngFor="let item of languages" [value]="item">{{item}}</ion-option>

    </ion-select>
  </ion-item>


</ion-content>