<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'ocm.general.about' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="assets/images/icons/branding/AppIcon_128x128.png" style="float:left;padding:2em;">
<h1>Open Charge Map</h1>
<h2>The global public registry of Electric Vehicle charging locations</h2>
<p>Web: <a href="https://openchargemap.org">https://openchargemap.org</a></p>
<p>Community Discussions: <a href="https://community.openchargemap.org">https://community.openchargemap.org</a></p>
<p>App or System Bugs and feature suggestions: <a href="https://github.com/openchargemap/ocm-system/issues">GitHub</a></p>
<p>App development by Webprofusion Pty Ltd (<a href="https://webprofusion.com">https://webprofusion.com</a>)</p>
<h3>Funding</h3>
<p>Our software is developed and hosted by volunteers, our data is crowdsourced by you. To help further development please encourage your organisation to sponsor us: <a href="https://opencollective.com/openchargemap">Open Collective</a></p>

<ion-note>
<p>App Version: {{appVersion}}</p>
<p>API: {{apiUrl}}</p>

</ion-note>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-button (click)="close()">
              <ion-icon name="close" slot="start"></ion-icon>
              Close

          </ion-button>
      </ion-buttons>

  </ion-toolbar>
</ion-footer>