<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'ocm.general.about' | translate }} Open Charge Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <img src="assets/images/icons/branding/AppIcon_128x128.png">
      </ion-col>
      <ion-col>
        <h1>Open Charge Map</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p>
    <strong>Open Charge Map is the worlds largest Open Data registry of electric vehicle charging locations.</strong> By adding and editing the information within Open Charge Map you are improving the data for an unlimited amount of other apps and services which can use the data for free. </p>
  <p>
    <a href="https://openchargemap.org" target="_blank">openchargemap.org</a>
  </p>

  <p>Join our community discussions: <a href="https://community.openchargemap.org" target="_blank">community.openchargemap.org</a>
  </p>
  <p>Software development and service hosting by <a href="https://webprofusion.com" target="_blank">webprofusion.com</a>
  </p>
  <p>Our service is run by volunteers, our data is largely crowdsourced by you. Some data is imported from public Open Data sources.</p>
  <p>Network operators can <a href="https://openchargemap.org/site/about/datasharing" target="_blank">provide us with an OCPI data feed</a> to freely promote their network and ensure information accuracy. </p>

  <ion-note>
    <p>App Version: {{appVersion}}</p>
    <p>API: {{apiUrl}}</p>

  </ion-note>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="start"></ion-icon>
        Close

      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>