<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'ocm.general.about' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <img src="assets/images/icons/branding/AppIcon_128x128.png" style="padding-top:2em">
      </ion-col>
      <ion-col>
        <h1>Open Charge Map</h1>
        <h2>The global public registry of Electric Vehicle charging locations</h2>
        <p>Web: <a href="https://openchargemap.org">https://openchargemap.org</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p>Community Discussions: <a href="https://community.openchargemap.org">https://community.openchargemap.org</a></p>
  <p>App development by Webprofusion Pty Ltd (<a href="https://webprofusion.com">https://webprofusion.com</a>)</p>
  <p>Our software is developed and hosted by volunteers, our data is largely crowdsourced by you.</p>

  <ion-note>
    <p>App Version: {{appVersion}}</p>
    <p>API: {{apiUrl}}</p>

  </ion-note>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="start"></ion-icon>
        Close

      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>