<ion-grid>

  <ion-row *ngFor="let i of item.Connections">
    <ion-col>
      <ion-row>
        <ion-col size="3">
          <p>
            <ion-badge color="success" *ngIf="i.Quantity">{{i.Quantity}}x</ion-badge>
          </p>

          <img [src]="getConnectorTypeIcon(i.ConnectionTypeID)" style="max-width: 64px">

        </ion-col>
        <ion-col>
          <ion-row>
            <ion-col>
              {{$any(i).ConnectionType?.Title}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-note>
                <strong *ngIf="i.PowerKW">{{i.PowerKW}} kW </strong>
                <div *ngIf="i.CurrentTypeID">{{$any(i).CurrentType?.Title}} </div>
              </ion-note>
              <ion-note>
                <span *ngIf="i.Amps">{{i.Amps}}A </span>
                <span *ngIf="i.Voltage">{{i.Voltage}}V </span>
              </ion-note>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>

</ion-grid>