<ion-header>
    <ion-navbar default>
        <ion-title>
            {{'ocm.navigation.profile.sectionTitle' | translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="profile-page" padding>
    <h1>{{'ocm.navigation.profile.sectionTitle' | translate}}</h1>


    <div *ngIf="userProfile==null">
        You are not signed in. <button (click)="showSignInModal()">{{'ocm.general.signIn' | translate}}</button>
    </div>
    <div *ngIf="userProfile!=null">

        <ion-card>

            <ion-item>
                <ion-avatar item-left>
                    <img src="{{userProfile.ProfileImageURL}}">
                </ion-avatar>
                <h2>{{userProfile.Username}}</h2>
                <p>
                    {{userProfile.DateCreated}}
                </p>
            </ion-item>


            <ion-card-content>
                <p> {{userProfile.Profile}}</p>
            </ion-card-content>

            <ion-item>
                <ion-note item-left>
                    <ion-icon name="star"></ion-icon>
                    {{userProfile.ReputationPoints}} Contributor Points
                </ion-note>


            </ion-item>

        </ion-card>

        <button (click)="signOut()">Sign Out</button>
    </div>
</ion-content>