<ion-header>
  <ion-nav-bar primary>
    <ion-toolbar default>
      <ion-buttons start>

        <button (click)="locateUser()" *ngIf="appManager.isRequestInProgress==false" clear>
      <ion-icon name="locate"></ion-icon>
    </button>

      </ion-buttons>
      <ion-searchbar [(ngModel)]="searchKeyword" (ionInput)="getPlacesAutoComplete($event)" (ionCancel)="onPlaceSearchCancel($event)" [placeholder]="'ocm.search.performSearch' | translate">
        [debounce]="500"></ion-searchbar>
      <ion-buttons end>
        <button (click)="openSearchOptions()">
      <ion-icon name="options"></ion-icon>
    </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-nav-bar>
</ion-header>

<ion-content class="search-page">

  <div id="place-search" *ngIf="placeSearchActive==true">

    <div id="place-attribution"></div>

    <ion-list>
      <a *ngFor="let item of placeList" (click)="placeSelected($event,item)" ion-item>
        <ion-avatar item-left>
          <ion-icon name="locate"></ion-icon>
        </ion-avatar>

        <h2>{{item.Title}}</h2>
        <h3>{{item.Type}}</h3>
        <p>{{item.Address}}</p>
      </a>
    </ion-list>

  </div>
  <div id="map-canvas"></div>
</ion-content>