.search-page {

    #map-canvas {
        width:100%;
        height: 98%;   
    }

    #place-search{
        min-height:300px;
    
        background-color: #f0f0f0;
        
        position:absolute;
        z-index:100;
        width:100%;
    
    }
    ion-buttons {
        flex:0.4;
    }

    ion-grid,ion-row, ion-col{
        padding:0;
    }

scroll-content {
    overflow-y:hidden;
}
.banner{
    background-color: #446722;
}
.route {
    background-color: #8fb767;
    .item {
        background-color: transparent;
    }
}
}

