<ion-header>
  <ion-nav-bar primary>
    <ion-toolbar default>
      <ion-buttons start>

        <button (click)="locateUser()" clear>
      <ion-icon name="locate"></ion-icon>
    </button>

      </ion-buttons>
      <ion-searchbar [(ngModel)]="searchKeyword" (ionInput)="getPlacesAutoComplete($event,'poiSearch')" (ionCancel)="onPlaceSearchCancel($event)"
        [placeholder]="'ocm.search.performSearch' | translate" [debounce]="500">
      </ion-searchbar>
      <ion-buttons end>
        <button (click)="openSearchOptions()">
      <ion-icon name="options"></ion-icon>
    </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-nav-bar>
</ion-header>

<ion-content class="search-page">

  <div id="place-search" *ngIf="placeSearchActive==true && placeSearchType=='poiSearch'">

    <div id="place-attribution"></div>

    <ion-list>
      <a *ngFor="let item of placeList" (click)="placeSelected($event,item)" ion-item>
        <ion-avatar item-left>
          <ion-icon name="locate"></ion-icon>
        </ion-avatar>

        <h2>{{item.Title}}</h2>
        <h3>{{item.Type}}</h3>
        <p>{{item.Address}}</p>
      </a>
    </ion-list>

  </div>

  <ion-grid>
    <ion-row>
      <ion-col width-67="{{poiViewMode=='side'}}">
        <div id="map-canvas"></div>
      </ion-col>

      <ion-col width-33 *ngIf="poiViewMode=='side'">
        <ion-scroll scrollY="true" style="height:100%">


          <ion-toolbar *ngIf="selectedPOI!=null">
            <ion-buttons start>
              <button (click)="closePOIDetails()">
             <ion-icon name="close"></ion-icon>
              Close

            </button>
            </ion-buttons>

          </ion-toolbar>
          <poi-details *ngIf="selectedPOI!=null" [poi]="selectedPOI"></poi-details>
          <div *ngIf="selectedPOI==null">
            <div class="banner">

              <p padding>Browse the map to find charging locations. Select a location to see the full details.</p>

            </div>
            <div class="route">

              <ion-list>
                <ion-list-header>
                  <ion-icon name="map"></ion-icon> Plan Your Journey
                </ion-list-header>
                <ion-item>

                  <ion-searchbar [(ngModel)]="routeStart" (ionInput)="getPlacesAutoComplete($event,'routeStart')" (ionCancel)="onPlaceSearchCancel($event)"
                    placeholder="Starting Point" [debounce]="500"></ion-searchbar>
                </ion-item>

                <ion-item>

                  <ion-searchbar [(ngModel)]="routeDestination" (ionInput)="getPlacesAutoComplete($event,'routeDestination')" (ionCancel)="onPlaceSearchCancel($event)"
                    placeholder="Destination" [debounce]="500"></ion-searchbar>
                </ion-item>

                <ion-item>
                  <ion-range min="1" max="200" step="5" snaps="true" [(ngModel)]="routeSearchDistance" light>
                    <ion-icon range-left small name="map"></ion-icon>
                    <ion-icon range-right large name="map"></ion-icon>
                  </ion-range>

                </ion-item>

              </ion-list>

              <div id="place-search" *ngIf="placeSearchActive==true && (placeSearchType=='routeStart' || placeSearchType=='routeDestination')">

                <div id="place-attribution"></div>


                <ion-list>
                  <a *ngFor="let item of placeList" (click)="placeSelected($event,item)" ion-item>
                    <ion-avatar item-left>
                      <ion-icon name="locate"></ion-icon>
                    </ion-avatar>

                    <h2>{{item.Title}}</h2>
                    <h3>{{item.Type}}</h3>
                    <p>{{item.Address}}</p>
                  </a>
                </ion-list>

              </div>
            </div>

             <ion-list *ngIf="selectedJourneyRoute!=null">
              <ion-list-header>
             Journey {{selectedJourneyRoute.TotalDistanceKM | number:'.2'}}km, {{selectedJourneyRoute.TotalDurationMinutes | number:'.0'}} mins, {{selectedJourneyRoute.TotalEnergykWh |number:'.2'}} kWh
              </ion-list-header>
              <ion-item *ngFor="let leg of selectedJourneyRoute.JourneyRouteLegs">
              
                <h2>{{leg.DistanceKM}} km, {{leg.DurationMinutes}} mins, {{leg.EnergyConsumptionkWh}} kWh</h2>
               
              </ion-item>
            </ion-list>

            <ion-list *ngIf="poiManager.poiList!=null">
              <ion-list-header>
                {{poiManager.poiList.length}} results Search Distance: {{routeSearchDistance}}km
              </ion-list-header>
              <ion-item *ngFor="let poi of poiManager.poiList" (click)="viewPOIDetails({poiId:poi.ID})">
                <ion-avatar item-left>
                  <img src="{{getIconForPOI(poi)}}"/>
                </ion-avatar>
                <h2>{{poi.AddressInfo.Title}}</h2>
                <p>{{poi.AddressInfo.AddressLine1}}</p>
                <p>{{poi.AddressInfo.Postcode}}</p>
              </ion-item>
            </ion-list>
          </div>
        </ion-scroll>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>