// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*transparency required for native maps, which appear behind the html content*/
/*
ion-app,ion-app.md, ion-app.ios,ion-app.wp,.content-md, .content-ios, .content-wp{
    background-color: rgba(255, 255, 255, 0.9);
}
ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
 

body,ion-app, ion-app.md, ion-app.ios, ion-app.wp, .content-md, .content-ios, .content-wp
{
background-color:transparent;
}

#map-canvas{
  min-height: 250px;
  height:100%;
}*/