<ion-header>
	<ion-navbar color="primary">
		<ion-toolbar>
			<ion-buttons start>

				<button (click)="locateUser()" ion-button icon-left>
				<ion-icon name="locate"></ion-icon>
				</button>

			</ion-buttons>
			<ion-searchbar [(ngModel)]="searchKeyword" (ionInput)="placeSearchMapPOI.getPlacesAutoComplete($event,'poiSearch')" [placeholder]="'ocm.search.performSearch' | translate"
			 [debounce]="500">
			</ion-searchbar>
			<ion-buttons end>
				<button (click)="openRoutePlannerModal()" *ngIf="sideViewAvailable==false" ion-button icon-left>
								<ion-icon name="map"></ion-icon>
								</button>
				<button (click)="openSearchOptions()" ion-button icon-left>
								<ion-icon name="options"></ion-icon>
								</button>

				<button (click)="openSideView()" *ngIf="sideViewAvailable==true && poiViewMode=='modal'" ion-button icon-left>
				<ion-icon name="car" title="Route"></ion-icon>
				</button>
			</ion-buttons>
		</ion-toolbar>
	</ion-navbar>
</ion-header>

<ion-content class="search-page">

	<place-search #placeSearchMapPOI (placeChanged)="placeSelected($event)" style="position:absolute;z-index:1000;"></place-search>

	<ion-grid>
		<ion-row>
			<ion-col>
				<div id="map-canvas"></div>
			</ion-col>

			<ion-col col-3 *ngIf="poiViewMode=='side'" class="sideview">
				<ion-scroll scrollY="true" style="height:100%">


					<ion-toolbar color="primary">
						<ion-buttons start>

							<button (click)="closePOIDetails()" *ngIf="selectedPOI!=null" ion-button icon-left>
             <ion-icon name="arrow-dropleft"></ion-icon>
              Back

            </button>

						</ion-buttons>
						<ion-buttons end>

							<button (click)="closeSideView()" title="Hide Side Panel" ion-button icon-only>
             <ion-icon name="arrow-dropright-circle"></ion-icon>
              

            </button>
						</ion-buttons>

					</ion-toolbar>
					<poi-details *ngIf="selectedPOI!=null" [poi]="selectedPOI"></poi-details>
					<div *ngIf="selectedPOI==null">

						<route-planner *ngIf="routePlanningMode"></route-planner>

						<ul>
							<li>Browse the map to find charging locations. Select a location to see the full details.</li>
							<li>Zoom in to the region you are interested in to see all charging locations.</li>
							<li>You can use the route planner to start planning a journey. Use the 'Save' option when viewing a charging location
								to create or add to a Journey. </li>
						</ul>
						<div *ngIf="!routePlanningMode">
							<div class="banner">

								<p padding>Browse the map to find charging locations. Select a location to see the full details.</p>
								<button (click)="planRoute()" ion-button icon-left><ion-icon name="map"></ion-icon> Plan Route</button>
							</div>




							<ion-list *ngIf="poiManager.poiList!=null">
								<ion-list-header>
									{{poiManager.poiList.length}} results Search Distance: {{routeSearchDistance}}km
								</ion-list-header>
								<ion-item *ngFor="let poi of poiManager.poiList" (click)="viewPOIDetails({poiId:poi.ID})">
									<ion-avatar item-left>
										<img src="{{getIconForPOI(poi)}}" />
									</ion-avatar>
									<h2>{{poi.AddressInfo.Title}}</h2>
									<p>{{poi.AddressInfo.AddressLine1}}</p>
									<p>{{poi.AddressInfo.Postcode}}</p>
								</ion-item>
							</ion-list>
						</div>
					</div>
				</ion-scroll>
			</ion-col>

		</ion-row>
	</ion-grid>
</ion-content>