<ion-navbar *navbar>
    <ion-title>
        Details
    </ion-title>
</ion-navbar>
<ion-content class="poi-details" padding>
    <ion-row>
        <ion-col>
    <ion-card>
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=51.577389578844446,-0.22380352020263672&amp;zoom=14&amp;size=640x200&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:A%7C{{Latitude+','+Longitude}}"/>
        <ion-card-header> OCM-{{poi.ID}}: {{poi.AddressInfo.Title}}</ion-card-header>
       
        <ion-card-content>
           
            
            
                {{poi.AddressInfo.AddresssLine1}} {{poi.AddressInfo.AddresssLine2}} {{poi.AddressInfo.Town}}
            
        </ion-card-content>
    </ion-card>
        </ion-col>
        <ion-col>
    
    <ion-list>

        <ion-item *ngFor="#item of poi.Connections">
            <ion-avatar item-left>
                <icon flash></icon>
            </ion-avatar>
            <h2>{{item.ConnectionType.Title}}</h2>
            <h3>OCM-CN-{{item.ID}}</h3>
            <p>{{item.Comments}}</p>
        </ion-item>

    </ion-list>
        </ion-col>
    </ion-row>
    <h2>Comments</h2>
    <ion-list>

        <ion-item *ngFor="#item of poi.UserComments">
            <ion-avatar item-left>
                <icon user></icon>
            </ion-avatar>
            <h2>{{item.Commentitle}}</h2>
            <h3>OCM-CN-{{item.ID}}</h3>
            <p>{{item.Comments}}</p>
        </ion-item>

    </ion-list>

    <button>Edit</button>
    <ion-card>

        <ion-card-content>
            <h2 class="card-title">Data Provider </h2>
            <p>
                Provided by: {{poi.DataProvider.Title}}</p>
               
            <p>
                {{poi.DataProvider.WebsiteURL}}
            </p>
            <p>{{poi.DataProvider.License}}</p>
            
           
        </ion-card-content>
    </ion-card>
</ion-content>