<ion-list>
  @for (p of poiList; track p) {
    <ion-item style="max-width:400px;">
      <ion-grid>
        <ion-row>
          <ion-col>
            {{p.AddressInfo.Title}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <p>
              <img [src]="getIconForPOI(p)" style="width:24px"/>
            </p>
            <ion-note>
              {{getFormattedDistance(p)}}
            </ion-note>
            @if (enableCopyOption) {
              <ion-button size="small" (click)="onCopyCommand(p)">Copy</ion-button>
            }
            @if (enableEditOption) {
              <ion-button size="small" (click)="onEditCommand(p)">Edit</ion-button>
            }
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col>
                <p>
                  {{getFormattedAddress(p)}}
                </p>
                <ion-note>
                  {{getFormattedConnectorList(p)}}
                </ion-note>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                {{p.UsageType?.Title}}
              </ion-col>
              <ion-col>
                {{p.OperatorInfo?.Title}}
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  }
</ion-list>