<ion-navbar *navbar primary>
    <ion-title>
        Journeys
    </ion-title>
</ion-navbar>
<ion-content class="journeys-page" padding>
    <p>
        You can create and plan journeys to group your favourite charging routes together.
    </p>
    
    <p *ngIf="appManager.journeyManager.journeys==null || appManager.journeyManager.journeys.length==0">
        You have no journeys yet. Start by browsing to a charging location, then add it as Favourite to start a new Journey.
        <button (click)="test()">test</button>
        </p>
  
        <ion-card *ngFor="let journey of appManager.journeyManager.journeys">
            <ion-card-title>
                  {{journey.Title}}
            </ion-card-title>
         
            <ion-card-content>
                 <ion-avatar>
               <ion-icon name="map" item-left style="font-size:4em;"></ion-icon>
              </ion-avatar>
                <p>{{journey.Notes}}</p>
                <button (click)="journeyManager.deleteJourney(journey.ID)">Delete</button>
                <div *ngFor="let s of journey.Stages">
                    <p>{{s.Title}}</p>
                    <div *ngFor="let w of s.WayPoints">
                       <h2>{{w.Title}}</h2>
                        <p>{{w.Notes}}</p>
                        <ul>

                            <li *ngFor="let p of w.PoiList">
                                {{p.AddressInfo.Title}} - <button (click)="viewPOIDetails(p)"> [OCM-{{p.ID}}]</button>
                                
                                <a href="{{'http://www.panoramio.com/map/get_panoramas.php?set=public&from=0&to=2&minx=' + (p.AddressInfo.longitude) + '&miny=' + (p.AddressInfo.Latitue)+'size=medium&mapfilter=true'}}">Images</a>
                            </li>
                        </ul>
                        
                    </div>
                </div>
            </ion-card-content>
           
  </ion-card>
</ion-content>