// http://ionicframework.com/docs/theming/
@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import '@ionic/angular/css/palettes/dark.system.css';

//@import 'mapbox-gl/dist/mapbox-gl.css';
//@import 'maplibre-gl/dist/maplibre-gl.css';


/* other app styles */



.instruction {
  color: var(--ion-color-dark-tint);
}

.info {
  color: var(--ion-color-medium);
  font-size: 80%;
}
