// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*transparency required for native maps, which appear behind the html content*/
/*
ion-app,ion-app.md, ion-app.ios,ion-app.wp,.content-md, .content-ios, .content-wp{
    background-color: rgba(255, 255, 255, 0.9);
}
ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
 

body,ion-app, ion-app.md, ion-app.ios, ion-app.wp, .content-md, .content-ios, .content-wp
{
background-color:transparent;
}

#map-canvas{
  min-height: 250px;
  height:100%;
}*/

.instruction {
  color: var(--ion-color-dark-tint);
}

.info {
  color: var(--ion-color-medium);
  font-size: 80%;
}
