<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://map.openchargemap.io/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
      
    </system.webServer>
</configuration>
